/* About Header Image Section */

.header-image-section {
  border-bottom: 10px solid #794ae2;;
}

.header-image-section .background-image {
  background-image: url('../images/workout-photo.png')
}

/* Features */

.feature {
  display: flex;
  align-items: center;
  padding: 4rem 19%;
}

.feature:nth-child(odd) {
  background-color: #f2f2f2;
}

.feature:nth-child(odd) .image-container {
  padding-right: 5rem;
}

.feature:nth-child(even) {
  background-color: #ffffff;
}

.feature:nth-child(even) .image-container {
  padding-left: 5rem;
}

.feature .content {
  flex: 1;
}

.feature h3 {
  padding-bottom: 1.125rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: #794ae2;
}

.feature p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .feature {
    flex-direction: column;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .feature .image-container {
    height: 6.25rem;
    margin-bottom: 1.25rem;
  }

  .feature:nth-child(odd) .image-container,
  .feature:nth-child(even) .image-container {
    padding-left: 0;
    padding-right: 0;
  }

  .feature h3 {
    padding-bottom: 1.3125rem;
    font-size: 1.75rem;
  }

  .feature p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

/* Location */

#location {
  position: relative;
  height: 31.25rem;
  background-image: url('../images/map.jpg');
}